
body {
	margin: 0;
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
}

a {
	text-decoration: none;
	color: #000;
}

.navbar {
	display: block;
	position: fixed;
	width: 100%;
	background-color: #fff;
	padding: 41px 0px;
	border-bottom: 1px;
}

.container {
	position: relative;
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
    box-sizing: border-box;
}

.navbar_logo {
	float: left;
	font-size: 34px;
	color: white;
}

.navbar_menu {
	float: right;
	font-size: 24px;
	list-style: none;
	padding: 10px 0px 0px 0px;
	margin: 0px;
}

.navbar_menu li {
	float: left;
	font-weight: 600;
	padding-left: 50px;
}

.navbar_menu li :hover {
	color: #6699cc;
	border-radius: 4px;
}



.section {
	display: block;
}

.top {
	height: 300px;
	padding-top: 123px;
	background-color: #eee;
}

.test {
	color: #000;
}

section h2 {
	font-size: 70px;
	margin: 76px 0px 0px 0px;
}

section h3 {
	font-size: 30px;
	margin: 0px;
}

main #contents .container {
	position: relative;
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    padding: 0 70px;
    box-sizing: border-box;
}

.text {
	font-size: 22px;
	line-height: 1.5;
	font-weight: 200;
	margin: 0px;
}

.contents {
	padding: 100px 0px;
}


#grid {
	position: relative;
	display: inline-block;
	width: 615px;
	margin: 0px 10px 80px 10px;
}

.contents-info {
	margin-top: 40px;
}

.contents-text {
	font-size: 22px;
	line-height: 1.5;
	font-weight: 200;
	margin: 10px 0px 0px 0px;
}







